
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    font-size: 16px;
    line-height: 1.56;
    color: black;
    background-color: #edf1f7;
}

a,.Link {
    color: inherit;
    text-decoration: none;
    transition: 1s;
}

* {
    box-sizing: border-box;
}

a:hover {
    color: rgb(41, 98, 255);
}

a, p, h1, h2, h3, h4, h5, label {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

* , *:after, *:before {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, 'Noto Sans SC', sans-serif;
    scroll-behavior: smooth;
}

.App {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* , *:after, *:before {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, 'Noto Sans SC', sans-serif;
    scroll-behavior: smooth;
}

.headerScreen {
    background: linear-gradient(65deg, rgba(78,70,215,1) 0%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
    width: 100vw;
}

.headerScreen .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 5em;
    justify-content: center;
    align-items: center;
}

.headerScreen .container .content {
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5em;
}

.headerScreen .container .image {
    flex: 1;
    padding: 3em;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: contain;
}

.btn{

    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 50px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 40%;
    text-align: center;
}

.btn:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
    width: 40%;
    text-align: center;
}

.services {
    padding: 3em;
}

.services .title {
    color: rgb(41, 98, 255);
}

.services .servicesOptions {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 25vw 25vw 25vw;
}


.services .servicesOptions .item {
    width: 25vw;
    height: 250px;
    background-color: white;
    border-color: #9ca3ad;
    border-radius: 25px;
    border-width: 1px;
    margin: 1em;
    padding: 2em;
}

.services .servicesOptions .item p {
    font-size: small;
}

.services .servicesOptions .item .text {
    color: rgb(41, 98, 255);
}